.container
  width: 1110px

.back
  background: url("../../assets/back.jpg") no-repeat
  background-size: cover
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: 0

.reverse
  transform: scaleY(-1)
  position: absolute
  top: 100vh



 



  

  